<div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url('http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_400,w_1600/v1480081049/banner_1_d7qs3r.jpg');">
    <div class="banner-content">
      <h1>Vos restaurants préférés livré chez vous ou au travail!</h1>
      <h2>Gagnez du temps, et appréciez la qualité de nos restaurants partenaires</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product" id="first">
          <%= image_tag "map.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Find the best restaurants around you</h1>
            <h3>Yvon uses your geolocation datas to indicate the closest restaurants</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "store.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Select one and have a look at the menu</h1>
            <h3>Yvon allows you to see restaurants avaibilities around you</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "pay.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Order your meals and pay with Yvon</h1>
            <h3>Yvon allows you to pay the restaurant so that you won't have to wait to get your order</h3>
          </div>
        </div>

        <div class="product">
          <%= image_tag "takeaway.png", width: 100, height: 100 %>
          <div class='product-body'>
            <h1>Pick-up your food directly at the desk</h1>
            <h3>No more queue, you order waits you at the restaurant. You will even be notified when it's ready !</h3>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="vdo">
          <%= image_tag "iphone.png" %>
          <div class="gif">
            <%= image_tag "gifyvon.gif", width: 210 %>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Restaurant's owners -->
  <div class="wrapper owners">
  <!-- Button (call-to-action) -->
    <div class="container text-center">
      <div class="row">
        <h1>Restaurant's owner ? Yvon is for you !</h1>
        </div>
      <div class="row">
        <div class="col-md-4 product-body">
          <h1>Raise your turnover</h1>
          <h3>With Yvon, you can now offer a take away service<br> and your room magically expands</h3>
          <br>
          <h1>Diminue your queue</h1>
          <h3>No more queue, people get served <br>ready meals directly at the counter !</h3>
        </div>

        <div class="col-md-4">
            <%= image_tag 'yvon_avatar.jpg', class: 'avatar-extra-large' %>
        </div>

        <div class="col-md-4 product-body">
          <h1>Access new customers</h1>
          <h3>Yvon gives you access to new customers<br> who wouldn't sit in your retaurant otherwise</h3>
          <br>
          <h1>Improve your staff productivity</h1>
          <h3>No more ordering and paying time,<br> Yvon automatically send you orders, already paid. No new staff needed</h3>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
