<div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url(<%= image_path "salade.jpg"%>);">
    <div class="banner-content">
      <h1>Vos restaurants préférés livrés chez vous ou au travail!</h1>
      <h2>Gagnez du temps, et appréciez la qualité de nos restaurants partenaires</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-offset-3 padded">
            <div class="form-group">
              <input type="ADRESS" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre adresse">
                <%= link_to t("#", default: "Trouver un restaurant"), root_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="wrapper padded text-center">
    <div class="container">
      <div class="process">
        <h2>COMMENT ÇA MARCHE ?</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'geolocalization.png', class: 'avatarhome'%>
            <h3>Indiquez votre ville ou votre code postal</h3>
            <div class="circle1">1</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'shop.png', class: 'avatarhome'%>
            <h3>Choisissez un restaurant, puis optez pour votre plat préféré!</h3>
            <div class="circle2">2</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'receipt.png', class: 'avatarhome' %>
            <h3>Réservez et payez directement en ligne avec notre paiement sécurisé !</h3>
            <div class="circle3">3</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'salad.png', class: 'avatarhome' %>
            <h3>Faites vous livré et savourez votre commande!</h3>
            <div class="circle4">4</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mostpopular padded">
    <div class="text-center">
      <h2>LES PLUS POPULAIRES</h2>
    </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "food.jpg"%>);">
            <div class="card-category">Bio</div>
            <div class="card-description">
              <h2>La saladerie</h2>
              <p>Vos salades fraiches, avec nos produits bios ! cool stuff, useful and smart</p>
            </div>
          </div>
        </div>

          <div class="col-xs-12 col-sm-6">
           <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "salade.jpg"%>);">
          <div class="card-category">Bio</div>
          <div class="card-description">
            <h2>Chez Bubu</h2>
            <p>Produit locaux et bios, fait avec amour !</p>
        </div>
      </div>
    </div>



