<div class="bannerindex" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url(<%= image_path "foood.jpg"%>);">
    <div class="banner-content">
      <h1></h1>
      <h2>LES MEILLEURS RESTAURANTS DE GUADELOUPE LIVRÉS CHEZ VOUS OU AU TRAVAIL</h2>
    </div>
</div>

<div class="container mostpopular padded">
  <div class="restaurants__tool-box">
    <div class="restaurants__search-filter">
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Recherche">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div class="restaurants__location__title">
      <p>Livraison : 13 avenue Hayot, 97118 Baie Malhaut </p>
    </div>
  </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "salade.jpg"%>);">
          <div class="card-category">Local</div>
          <div class="card-description">
            <h2>Chez Bubu</h2>
            <p>Produit locaux et recette faites maison !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "colombo.jpg"%>);">
          <div class="card-category">Local</div>
          <div class="card-description">
            <h2>Chez Sandrine</h2>
            <p>Produit locaux et bios, les meilleurs colombo de la place!</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "gluten.jpg"%>);">
          <div class="card-category">BIO</div>
          <div class="card-description">
            <h2>Healthy store</h2>
            <p>Produit frais, bios et sans gluten !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "leg.jpg"%>);">
          <div class="card-category">Végétarien</div>
          <div class="card-description">
            <h2>Ti flè</h2>
            <p>Découvrez tous nos plats végétariens !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "legume.jpg"%>);">
          <div class="card-category">Végétarien</div>
          <div class="card-description">
            <h2>Végatalè</h2>
            <p>Découvrez tous nos plats végétariens !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "spice.jpg"%>);">
          <div class="card-category">Indien</div>
          <div class="card-description">
            <h2>La porte des indes</h2>
            <p>Découvrez tous nos recettes indienne !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "pizza.jpg"%>);">
          <div class="card-category">Végétarien</div>
          <div class="card-description">
            <h2>Lupo</h2>
            <p>Découvrez tous nos plats végétariens !</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "hamburger-food-meal-tasty-47725.jpg"%>);">
          <div class="card-category">Burger</div>
          <div class="card-description">
            <h2>Burger King</h2>
            <p>Découvrez tous nos Burgers fait maison !</p>
          </div>
        </div>
      </div>


</div>

